body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body header {
    padding: 25px;
    text-align: center;
    color: white;
    background: black;
    overflow: hidden;
}

body header p {
    display: none;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    display: none;
    float: left;
    text-align: center;
    color: #ddd;
    padding: 15px 10px;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

nav a:hover {
    cursor: pointer;
    background-color: #ddd;
    color: #333;
}

nav a.right {
    float: right;
}

nav a#menu {
    display: block;
    float: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + h1 {
    padding-top: calc(1rem + 30px);
}

@media only screen and (min-width: 600px) {
    body header p {
        display: block;
    }
    
    nav a {
        display: block;
        width: auto;
    }

    nav a#menu {
        display: none;
    }
}
