body {
    background: #111;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon {
    position: absolute;
    margin: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section {
    background: #f0f0f0;
}

.hero h1, 
.hero h2 {
    color: #f0f0f0;
}

.footer {
    padding-bottom: 48px;
    background: #111;
}

.footer h1 {
    color: #f0f0f0;
}
