body {
    background: #f0f0f0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-item {
    -webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-ms-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}

.fa-bars,
.fa-times {
    position: absolute;
    margin: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero {
    background-image: url('images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
}

.hero h1, 
.hero h2 {
    color: #111;
}

.footer {
    padding-bottom: 48px;
    color: #f0f0f0;
    background: #363636;
}

.footer p {
    font-size: 10pt;
}

.social {
    padding: 10px 0;
}

.social a {
    padding: 0 5px;
    color: inherit;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}
.social a:hover,
.social a:focus {
    opacity: .6;
}

@media screen and (min-width: 769px) {
    #Contact .field.is-horizontal {
        padding-right: 12.5%;
    }
}
